{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
        body {
            background-image:url(https://media.discordapp.net/attachments/906082615877042181/906125074988421150/Untitled_Artwork.png?width=759&height=530);
            background-repeat: no-repeat;
            background-size: cover;
            font-family: "Rubik", sans-serif;
        }
        #judul {
            text-align: center;
            font-family: "Rubik", sans-serif;
            font-size: auto;
        }
        .container {
            background: #dfeff8;
            padding: 30px;
            margin: 50px auto;
            box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
            border-radius: 30px;
            border: 6px solid #305A72;
        }
        .card {
            border-radius: 30px;
            
        }
        .label {
            font-family: Georgia;
        }
        .button {
            border: none;
            color: white;
            padding: 12px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            border-radius: 20px;
        }
        .bsubmit {
            background-color: rgb(90, 233, 90); 
            color: white; 
        }
        .breset {
            background-color: rgb(250, 213, 1); 
            color: white; 
        }
        .bsubmit:hover {
            background-color: rgb(31, 163, 31);
            color: rgb(255, 255, 255);
        }
        .breset:hover {
            background-color: rgb(216, 202, 7);
            color: rgb(255, 255, 255);
        }

    </style>

    <title>Form Postingan Informasi COVID-19</title>
    
  </head>
  <body>
    {% include "main/header.html" %}
    <div class="container">
        <div class="card mt-3 mb-3 border-dark">
            <div class="card-header border-dark">
                
                <h2 id="judul">Form Postingan Informasi COVID-19</h2>
            </div>
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data" id="formpost">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" class="form-control" id="title" placeholder="Masukkan Judul Postingan">
                    </div>
                    <div class="form-group">
                        <label>Sub Title</label>
                        <input type="text" name="subTitle" class="form-control" id="subTitle" placeholder="Masukkan Sub Judul Postingan">
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <textarea class="form-control" name="body" id="body" rows="15"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="customFile">Upload URL Image</label>
                        <textarea class="form-control" name="image" id="image" rows="2"></textarea>
                    </div>
                </form>
            </div>
            <div class="card-footer border-dark">
                <button class="button breset" onclick="hapus()" id="resetBtn">Reset</button>
                <button class="button bsubmit float-right" onclick="submit()" id="submitBtn">Submit</button>
            </div>
        </div>
    </div>

    {% include "main/footer.html" %}
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function submit() {
            console.log("dipencet");
            var post_url = $(this).attr("action");
            var request_method = $(this).attr("method"); 
	        var form_data = $(this).serialize();

            $.ajax({
                url : "",
                type: "POST",
                data : { Title : $('#title').val(), SubTitle : $('#subTitle').val(), Post : $('#body').val(), File : $('#image').val(),'csrfmiddlewaretoken':"{{ csrf_token }}" },

                // handle a successful response
                success : function(json) {
                    alert("Postingan berhasil disubmit!")
                    window.location.assign('/information')
                    console.log(json); // log the returned json to the console
                    console.log("success"); // another sanity check
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    alert("Postingan gagal disubmit")
                    console.log("error"); 
                }
            })
        }

        function hapus(){
            $("#title").val("");
            $("#subTitle").val("");
            $("#body").val("");
            $("#image").val("");
        }

    </script>
  </body>
</html>
