<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        body {
            background-color: rgb(255, 246, 230);
        }
        table {
            width: 60%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            border-spacing: 10px;
            margin-left: auto;
            margin-right: auto;
        }
        th, td {
            font-family: "Lucida Sans", monospace;
            padding: 10px;
        }
        th {
            text-align: left;
            background-color: rgb(247, 172, 164);
        }
        tr:nth-child(even){background-color: #fff4f4}
        h1 {
            text-align: center;
            font-family: "Trebuchet MS", sans-serif;
        }
        .topnav {
            overflow: hidden;
            background-color: maroon;
            font-family: avenir;
        }

        .topnav a {
            float:left;
            color: whitesmoke;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }  

        .topnav a:hover {
            background-color: rgb(241, 200, 200);
            color: maroon;
        }

        .topnav a.active {
            background-color: rgb(201, 100, 125);
            color: white;
        }
      </style>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>

    <h1>Postingan</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Sub Title</th>
        <th>Body</th>
        <th>URL image</th>
      </tr>
      {% for post in posts %}
      <tr>
        <td>{{post.Title}}</td>
        <td>{{post.SubTitle}}</td>
        <td>{{post.Post}}</td>
        <td>{{post.File}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
