<!DOCTYPE html>
<html lang="en">
  {% block meta %}
    <meta charset="UTF-8" />
    <title>Data Vaksin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  {% endblock meta %}
  
{% block content %}
    {% include "main/header.html" %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">DOB</th>
          <th scope="col">NIK</th>
          <th scope="col">Vaksin Ke-</th>
          <th scope="col">Tanggal Vaksin</th>
          <th scope="col">Lokasi Vaksin</th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO loop from Friend model -->
        {% if vaksin %}
          {% for vaksin_ in vaksin %}
        <!-- EXAMPLE SECTION -->
        <tr>
          <td>{{ vaksin_.name }}</td>
          <td>{{ vaksin_.dob }}</td>
          <td>{{ vaksin_.nik }}</td>
          <td>{{ vaksin_.jumlahvaksin }}</td>
          <td>{{ vaksin_.tanggalvaksin }}</td>
          <td>{{ vaksin_.lokasivaksin }}</td>
        </tr>
          {% endfor %}
        {% endif %}
    <!-- END SECTION -->
      </tbody>
    
    </table>
    {% include "main/footer.html" %}
    {% endblock content %}
</html>
