{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'vaksin_style.css' %}" />
  <title>Document</title>
{% endblock meta %}
{% block content %}
{% include "main/header.html" %}
  <form action="" method="POST">
    {% csrf_token %}
    <h1>Pendaftaran Vaksin</h1>
    <fieldset>
      <!-- <legend><span class="number"></span>Form Vaksinasi</legend> -->
      <label for="name">Nama:</label>
      {{form.name}}
      <label for="dob">Tanggal Lahir:</label>
      {{form.dob}}
      <label for="nik">NIK:</label>
      {{form.nik}}
      <label for="jumlahvaksin">Pendaftaran Vaksin Ke-:</label>
      {{form.jumlahvaksin}}
      <label for="tanggalvaksin">Tanggal Vaksinasi:</label>
      {{form.tanggalvaksin}}
      <label for="lokasivaksin">Lokasi Vaksinasi:</label>
      {{form.lokasivaksin}}
      

    </fieldset>
  </button>
  <button type="submit">Submit</button>
  <button class="btn btn-outline-secondary" id="punyaadmin">
  <a href="/form">List Peserta Vaksin</a>
  </button>
</form>
{% include "main/footer.html" %}
  
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% if not user.is_superuser %}
<script src="{% static 'js/hide.js' %}"></script>
{% endif %}
{% endblock js %}

