body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

  /* Hero Section */

.contentX {
    /* max-width: 600px; */
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero {
    position: relative;
    /* background: #333333; */
    color: white;
    /* height: 100vh; */
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    padding-bottom: calc(400px - 20vw);
  }
  
  .hero h2 {
    position: relative;
    z-index: 1;
    font-size: 4.5rem;
    margin: 0 0 10px;
    line-height: 1;
    /* color: rgba(255, 255, 255, 0.9); */
    color: rgba(31, 30, 28, 1); 
  }

  .informasi {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #postingan {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #kalimat {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 40px;
  }

  @media screen and (max-width: 1070px) {
    .hero h2 {
        font-size: 3rem;
    }
    .hero {
      justify-content: flex-start;
      padding-top: 10vw;
    }
  }

  @media screen and (max-width: 800px) {
    .hero h2 {
        font-size: 2rem;
    }

    .informasi {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  .hero p {
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    color: rgba(31, 30, 28, 0.8);
    line-height: 1.4;
  }

  .hero input {
    z-index: 1;
  }

  .hero button {
    z-index: 1;
  }
  .hero h5 {
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    color: rgba(31, 30, 28, 0.8);
    line-height: 1.4;
  }

  .hero a {
    position: relative;
    z-index: 1;
  }

  .hero .card {
    position: relative;
    z-index: 1;
  }
  
  /* ========================= */
  
  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: var(--color);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    transition: 500ms;
  }
  
  .waves::before,
  .waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  
  .waves::before {
    border-radius: 44%;
    background: rgba(254, 254, 254, 1);
    animation: waves 8s linear infinite;
  }
  
  .waves::after {
    border-radius: 44%;
    background: rgba(254, 254, 254, 0.1);
    animation: waves 15s linear infinite;
  }
  
  @keyframes waves {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }

  :root {
    --color: #4973ff;
  }