/* *
{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
}

body
{
    font-family: 'Rubik', sans-serif;
}

nav
{
    background-color: #4973ff;
    height: 80px;
    width: 100%;
}

label.logo
{
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul
{
    float: right;
    margin-right: 40px;
    transition: 0.3s;
}

nav li
{
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
}

nav a
{
    color: #fff;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    text-decoration: none;
}

nav ul #login-button a
{
    margin-left: 40px;
    padding: 10px 20px;
    background-color: #fff;
    color: #4973ff;
    font-weight:800;
    border-radius: 30px;
} */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    background-color: #4973ff;
    height: auto;
    width: 100%;
  }

  label.logo
{
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    float: right;
    margin-right: 40px;
    transition: 0.3s;
    vertical-align: middle;
    line-height: 80px;
  }
  
  #login-button {
    /* margin-left: 40px; */
    padding: 10px 20px;
    background-color: #fff;
    color: #4973ff;
    font-weight:800;
    border-radius: 30px;
  }
  /* .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
   */
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 900px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
    label.logo
    {
        color: #fff;
        font-size: 24px;
        line-height: 60px;
        padding: 0 50px;
        padding-top: 10px;
        font-weight: bold;
        vertical-align: middle;
    }
  }
