body {
    position:relative;
    display: flex;
    flex-direction: column;
  }

  hr{
    border-top: 5px solid rgb(92, 27, 27);
  }

  .text{
    color:rgb(94, 93, 93);
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }

  .card{
    background-color: rgb(220, 231, 243);
  }
  .card:hover {
      background-color:rgb(183, 210, 238);
    }