*
{
    font-family: 'Rubik', sans-serif;
}

body
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
}

.card
{
    width: 100%;
}

.grid {
    margin: 30px;
    display: grid;
    width: 80em;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: center;
  }
  
  .grid-item {
    align-items: center;
    text-align: center;
    height: 40em;
    width:35em;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
  }
  
  .grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
  
  .card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
  .card-content {
    font-size: 10px;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align: left;
  }

  h2
  {
    padding-left: 2rem;
  }
  
  .button {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 20px;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 1rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
  }
  
  .button span {
    margin-left: 1rem;
    transition: 0.2s;
  }
  
  .button:hover,
  .card-btn:active {
    background-color: #c2cffc;
  }
  
  .button:hover span,
  .button:active span {
    margin-left: 1.5rem;
  }
  
  @media only screen and (max-width: 60em) {
    body {
      padding: 3rem;
    }
  
    .grid {
      grid-gap: 3rem;
    }
  }
  