/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body
{
  font-family: 'Rubik', sans-serif;
}

*
{
  margin: 0;
  padding: 0;
}

html
{
  /* box-sizing: border-box;
  font-size: 62.5%; */
}

body
{
  background-color: #eee;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid
{
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item
{
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover
{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card
{
  width: 100px;
}

.card-img
{
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.card-content
{
  justify-content: center;
  padding: 3rem;
}

.card-header
{
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.card-text
{
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}


/* @media only screen and (max-width: 60em)
{
  body
  {
    padding: 3rem;
  }

  .grid
  {
    grid-gap: 3rem;
  }
} */
