{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>TK F-09</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/beranda.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
{% include "main/header.html" %}

  <section class="hero">
    <div class="contentX">
      <h2>Statistik COVID-19 di Indonesia</h2>
      <p>Cari data berdasarkan Provinsi di Indonesia</p>
      <div class="input-group mb-3 d-flex justify-content-center">
        <input type="search" name="inputProvinsi" placeholder="Aceh" id="inputKu" class="form-control w-50"/>
      </div>
      <button onclick="fetch()" type="button" class="btn btn-primary">Search</button>
      <h5 class="my-3" id="provinsi">Indonesia</h5>
      {% for i in response%}
      <div class="d-flex flex-lg-row flex-column justify-content-around" >
       <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center text-success">Sembuh</h5>
          <p class="card-text text-center " id="sembuh">{{i.sembuh}}</p>
        </div>
      </div>
      <div class="card mx-lg-4 my-4 my-lg-0 " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center text-warning">Positif</h5>
          <p class="card-text text-center " id="positif">{{i.positif}}</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center text-danger">Meninggal</h5>
          <p class="card-text text-center " id="meninggal">{{i.meninggal}}</p>
        </div>
      </div>
      </div>
    </div>
    {% endfor %}
    <div class="waves"></div>
  </section>
  <section class="informasi">
    <div id="postingan">
      {% comment %} <div id="dalamCard">
       <h2 id="title"></h2>
       <span id="simpleDesc"></span>
      </div> {% endcomment %}
      <div class="card" style="width:inherit;height: auto">
          <div class="card-body" id="dalamCard">
            <h2 class="card-title" style="padding:10px" id="title"><b></b></h2>
              <div class="card-text">
                <p class="text" style="padding:10px" id="simpleDesc"></p>
              </div>
              <a href="/information"><button type="button" class="btn btn-primary">Lihat Selengkapnya</button></a>
          </div>
        </div>
    </div>
    <div id="kalimat">
      <h2>Lihat informasi dan tips-tips berguna selama menghadapi masa pandemi</h2>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){$.ajax({
    url: "/dataPostingan",
    dataType: "json",
    success:function(result){
      console.log(result);
      console.log(result[0].fields.Title);
       {% comment %} $("#dalamCard").append(`<img src=${result[0].fields.File} width="100%" height="auto"/>`); {% endcomment %}
       document.getElementById("title").innerHTML = result[0].fields.Title;
       document.getElementById("simpleDesc").innerHTML = result[0].fields.Post.slice(0, 40) + "....";
      }
    })
    })

    function fetch() {$.ajax({
      url: "https://indonesia-covid-19.mathdro.id/api/provinsi/",
      type: "GET",
      data: {},
      success:function(result){
        console.log(result);
        let value = $("#inputKu").val();
        console.log("ini hasil", result)
        let searchFlag = false;
        for(i=0; i < result.data.length; i++){
          if (value.toUpperCase() === result.data[i].provinsi.toUpperCase()) {
            $("#provinsi").text( result.data[i].provinsi);
            $("#positif").text(result.data[i].kasusPosi);
            $("#meninggal").text(result.data[i].kasusMeni);
            $("#sembuh").text(result.data[i].kasusSemb);
            searchFlag = true;
            break;
          }
          else if (value.toUpperCase() === "INDONESIA"){
            break;
          }
        }
        if (searchFlag === false) {
           $("#provinsi").text("Provinsi tidak ditemukan");
            $("#positif").text("0");
            $("#meninggal").text("0");
            $("#sembuh").text("0");
        }
      }
    })}
  </script>
  {% include "main/footer.html" %}

{% endblock content %}