{% extends 'information.html' %}
{% load static %}

{% block meta %}
<title>Informasi</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'css/informationstyle.css' %}">
{% endblock meta %}

{% block content %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="myCarousel" data-slide-to-"0" class="active"></li>
          <li data-target="myCarousel" data-slide-to-"1" ></li>
          <li data-target="myCarousel" data-slide-to-"2" ></li>
      </ol>
      
      <div class="carousel-inner" >
        {% for object in newspage %}
          <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
            <img src="{{ object.File }}" style="height: 585px;" class="img-fluid d-block w-100" alt="...">
            
            <div class="container">
              <h1>{{ object.Title }}</h1>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
              <a href="#" class="btn btn-lg btn-primary"> Baca Selengkapnya </a>
            </div>
          </div>
        {% endfor %}
        {# <div class="carousel-item">
          <div class="overlay-image" style="background-image:url({% static "img/image2.jpg" %});"></div>
          <div class="container">
            <h1>Example Headlines</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium officiis sequi eligendi, ea maxime ut facilis quas aliquam veniam autem at deserunt reiciendis! Dicta soluta, nobis quibusdam sunt, incidunt voluptates.</p>
            <a href="#" class="btn btn-lg btn-primary"> Baca Selengkapnya </a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image:url({% static "img/image3.jpg" %});"></div>
          <div class="container">
            <h1>Example Headlines</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium officiis sequi eligendi, ea maxime ut facilis quas aliquam veniam autem at deserunt reiciendis! Dicta soluta, nobis quibusdam sunt, incidunt voluptates.</p>
            <a href="#" class="btn btn-lg btn-primary"> Baca Selengkapnya </a>
          </div>
        </div> #}
      </div>
  
      <button class="carousel-control-prev" type="button"
      data-bs-target="#myCarousel"
        data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button"
      data-bs-target="#myCarousel"
        data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
     {% include "main/tempSearch.html" %}
     {% include "main/footer.html" %}
{% endblock content %}