{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}" >
</head>


<body>
    <h2>Halo, Silahkan Login</h2>
    <div class="container" id="container">
        <div class="form-container sign-up-container"></div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Sign in</h1>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="#">Lupa Password?</a>
                <button style="cursor: pointer">Masuk</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Halo, Teman Baru!!</h1>
                    <p>Ayo lindungi diri darn sekitar dengan vaksinasi Covid-19</p>
                    <p>Segera Daftarkan diri anda!</p>
                    <a href="/register">
                    <button class="ghost" id="signUp" style="cursor: pointer" >Daftar Disini</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>