{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daftar</title>
    <link rel="stylesheet" href="{% static 'css/stylelogin.css' %}" >
</head>

<body>
    <h2>Halo, Yuk Isi Data Kamu</h2>
    <div class="container" id="container">
        <form action="#">
            <h1>Register</h1>
            <br />
            <input type="text" name="nama" placeholder="Masukkan Nama Kamu" required />
            <input type="email" name="email" placeholder="Masukkan Email" required />
            <input type="text" name="Hp" placeholder="Masukkan No. HP" required />
            <input type="password" placeholder=" Masukkan Password" required />
            <input type="password" placeholder=" Masukkan Ulang Password" required />
            <br />
            <span>Sudah memiliki akun?
          <a href="/login">Masuk Sekarang</a>
        </span>
            <br />
            <button>Daftar</button>
        </form>
    </div>
</body>

</html>