

  <meta charset="UTF-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style> 


  body {
    position:absolute;
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  hr{
    border-top: 5px solid rgb(92, 27, 27);
  }

  .text{
    color:rgb(94, 93, 93);
    overflow:hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size:large;
  }

  .card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

  </style>
  {% extends 'base.html' %}
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>Hasil Search</title>
  </head>

  {% block content %}
  {% include "main/header.html" %}

  <body>
    <div style="z-index:1;width:100%;height:auto;min-height: 600px;overflow-y:auto;padding:50px;padding-left: 100px;padding-right: 100px;position:relative">
    {% if results %}
    <div style="align-items: left;">
    <h1>Hasil Pencarian</h1><br>
        {% for result in results %}
          <div class="card" style="width:inherit;height: auto">
            <div class="card-body">
              <h2 class="card-title" style="padding:10px"><b>{{ result.Title }}</b></h2>
              <img src="{{ result.File }}" alt="{{result.Title}}" width="100%" height="auto">
                <div class="card-text">
                  <p class="text" style="padding:10px">{{ result.Post }}</p>
                </div>
            </div>
          </div>
          <br>
        {% endfor %}
    </div>
    {% else %}
        <div style="align-items: center;display: flex;flex-direction: column;">
          <h1><b>Hasil Pencarian tidak ditemukan</b></h1>
          <p>Coba cari dengan kata kunci yang lain</p>
        </div>
    {% endif %}
    </div>
    <!-- <div class="waves" style="position:fixed"></div> -->
    <p id="thing"></p>
  </body>
<script>
  $(document).ready(function(){$.ajax({
    url: "{% url 'main:time_json' %}",
    dataType: "json",
    success:function(result){
      console.log(result)
      document.getElementById("thing").innerHTML = "Menunjukkan data yang ada sebelum " + result;
    }
  })
  })
</script>
    {% include "main/footer.html" %}
    {% endblock content %}