{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sertifikat Vaksin</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/sertifikat.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock meta %}

{% block content %}
{% include "main/header.html" %}
    <body>
      <div class="grid">
        {% if data %}
        {% for i in data %}
        <div class="grid-item">
          <div class="card">
            {% if i.jumlahvaksin == "1" %}
            <img class="card-img" src="../static/img/vaksin.jpeg" alt="Vaksin Pertama"/>
            {% elif i.jumlahvaksin == "2" %}
            <img class="card-img" src="../static/img/vaksin.jpeg" alt="Vaksin Kedua"/>
            {% endif %}
            <div class="card-content">
              {% if i.jumlahvaksin == "1" %}
              <h1 style="text-align:center; font-size: 25px;">Vaksin Pertama</h1>
              {% elif i.jumlahvaksin == "2" %}
              <h1 style="text-align:center; font-size: 25px;">Vaksin Kedua</h1>
              {% endif %}
              <h2 style="font-size: 15px;">{{i.name}}</h2>
              <h2 style="font-size: 15px;">{{i.nik}}</h2>
              <h2 style="font-size: 15px;">{{i.tanggalvaksin}}</h2>
              <h2 style="font-size: 15px;">{{i.lokasivaksin}}</h2>
              <button class="button"><a href="../static/img/vaksin.jpeg" download="SertifikatVaksinPertama">
                Download Sertifikat
              </a></button>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="../static/img/vaksin.jpeg" alt="Vaksin Pertama"/>
            <div class="card-content">
              <h1 style="text-align:center; font-size: 25px;">Vaksin Pertama</h1>
              <h2 style="font-size: 15px;">Budi Setiabudi</h2>
              <h2 style="font-size: 15px;">3604054806020001</h2>
              <h2 style="font-size: 15px;">Jun. 1, 2021</h2>
              <h2 style="font-size: 15px;">Aceh</h2>
              <button class="button"><a href="../static/img/vaksin.jpeg" download="SertifikatVaksinPertama">
                Download Sertifikat
              </a></button>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="../static/img/vaksin.jpeg" alt="Vaksin Kedua"/>
            <div class="card-content">
              <h1 style="text-align:center; font-size: 25px;">Vaksin Kedua</h1>
              <h2 style="font-size: 15px;">Irene Bae</h2>
              <h2 style="font-size: 15px;">360404040404040</h2>
              <h2 style="font-size: 15px;">Jan. 1, 2020</h2>
              <h2 style="font-size: 15px;">South Korea</h2>
              <button class="button"><a href="../static/img/vaksin.jpeg" download="SertifikatVaksinPertama">
                Download Sertifikat
              </a></button>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </body>
  
  {% include "main/footer.html" %}
{% endblock content %}