<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8"/>
  </head>
  <body>
  <div style="padding:50px;text-align: center">
    <form action="{% url 'main:result' %}" method = get style="padding:10px">
        <h3>Cari Postingan Menarik mengenai Covid-19</h3>
        <input type=text name="search"/>
        <button type="submit">Search</button>
    </form>
  </div>
  </body>
</html>