<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'form_vaksin.css' %}">
    <title>Pendaftaran Vaksinasi</title>
</head>
<body>
    <h1>Form Pendaftaran Vaksinasi</h1>
    <!-- <div>class="form"</div> -->
    <form action="" method="POST">
		{% csrf_token %}
        <fieldset>
            <legend><span class="number">1</span>Message Info</legend>
            <label for="name">Nama:</label>
            {{form.name}}
            <label for="DOB">DOB:</label>
            {{form.DOB}}
            <label for="NIK">NIK:</label>
            {{form.noKTP}}
        </fieldset>
          
          <button type="submit">Submit</button>
        </form>    
    </form>
    
    
</body>
</html>